b{
	font-family: colibri;
	font-size: 2em;
	text-align: center;
}
a{
	letter-spacing: 1px;
	font-family: arial;
	font-size: 2em;
	
}
p{
	font-family: arial;
	font-size: 2em;
}
ol{
	letter-spacing: 1px;
	font-family: arial;
	font-size: 2em;
}

